{% extends '../_home.twig' %}
{% block titletag %}case study
{% endblock %}
{% block bodytag %}

	<main class="Site-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="back-btn-container">
						<a class="back-btn" href="work.html">
							<svg width="38" height="38" viewbox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M32 18.6061L5.79412 18.6061M18.5 32L5 18.6061L16.9118 6" stroke="black" stroke-width="2"/>
							</svg>
						</a>
						<h2 class="main-heading">Case Study</h2>
					</div>
					<div class="case-study-header">
						<div class="case-study-banner" style="background-image: url({{img}}/case-study/case-study-header.jpg);"></div>
						<div class="case-study-content">
							<h2>Redesign - Spotify</h2>
							<p>Music platform for android and ios</p>
						</div>
					</div>
					<div class="case-statement">
						<p>
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
						</p>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="case-picture" style="background-image: url({{img}}/case-study/case-mobile.jpg);"></div>
						</div>
						<div class="col-sm-6">
							<div class="case-picture" style="background-image: url({{img}}/case-study/case-mobile.jpg);"></div>
						</div>
					</div>
					<div class="case-statement">
						<p>
							Looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum
						</p>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="case-picture" style="background-image: url({{img}}/case-study/case-mobile.jpg);"></div>
						</div>
					</div>
					<div class="case-statement">
						<p>
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
						</p>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="case-picture" style="background-image: url({{img}}/case-study/case-mobile.jpg);"></div>
						</div>
						<div class="col-sm-6">
							<div class="case-picture" style="background-image: url({{img}}/case-study/case-mobile.jpg);"></div>
						</div>
					</div>
					<div class="case-statement">
						<h3>Results</h3>
						<p>
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
