{% extends '../_home.twig' %}
{% block titletag %}Certifications
{% endblock %}
{% block bodytag %}

	<main class="Site-content">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="main-heading">Certifications</h2>
					</div>
				</div>
				<div class="row row-flex wrap">
					<div class="col-md-6 col-xs-12">
						<div class="case-picture case-certificate"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="case-picture case-certificate"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="case-picture case-certificate"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="case-picture case-certificate"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="case-picture case-certificate"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="case-picture case-certificate"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="case-picture case-certificate"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="case-picture case-certificate"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
						</div>
					</div>
				</div>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
