{% extends '../_home.twig' %}
{% block titletag %}Home
{% endblock %}
{% block bodytag %}

	<main class="Site-content">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="main-heading">Services</h2>
					</div>
				</div>
				<div class="case-study-header">
					<div class="case-study-banner" style="background-image: url({{img}}/case-study/case-study-header.jpg);"></div>
				</div>
				<div class="expertise">
					<h2>My Areas of Expertise </h2>
					<div class="row row-flex wrap">
                        <div class="col-sm-6 col-xs-12">
                            <div class="case-picture"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
							</div>
							<div class="case-title">
								<h2>User interface Design For Android/IOS</h2>
							</div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="case-picture"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                            
							</div>
							<div class="case-title">
								<h2>User Interface Design For Web</h2>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12">
                            <div class="case-picture"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
							</div>
							<div class="case-title">
								<h2>Semantic HTML5/CSS3 Development</h2>
							</div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="case-picture"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                            
							</div>
							<div class="case-title">
								<h2>Banner Design for Social Media and Marketing</h2>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12">
                            <div class="case-picture"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                                
							</div>
							<div class="case-title">
								<h2>Consultation regarding Website</h2>
							</div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="case-picture"  style="background-image: url({{img}}/case-study/case-mobile.jpg);">
                            
							</div>
							<div class="case-title">
								<h2>Video Editing</h2>
							</div>
                        </div>
                    </div>
				</div>
			</div>

		</section>
	</main>

{% endblock %}
