{% extends '../_home.twig' %} {% block titletag %}Work {% endblock %} {% block bodytag %}

<main class="Site-content">


    {# {% for i in 0..1 %} #}
    <!-- <section class="slider slider-full">
			<div class="container">
				<h3>UI/UX Work</h3>
				<div class="contentslider">
					<div class="swiper-container swiper-full">
						<div
							class="swiper-wrapper">
							{# {% for i in 0..3 %} #}
							<div class="swiper-slide">
								<a href="/casestudy.html">
									<figure>
										<div style="background-image:url({{img}}/dummy/img{{0}}.jpg)"></div>
										<div class="overlay">
											<div class="text">
												<h3>Project - Netplus Redesign
												</h3>
												<p class="em">Platform - Web</p>

											</div>
											<div class="background"></div>
										</div>
									</figure>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="">
									<figure>
										<div style="background-image:url({{img}}/dummy/img{{0}}.jpg)"></div>
										<div class="overlay">
											<div class="text">
												<h3>Project- Pragyaware Landing page
												</h3>
												<p class="em">Platform - Web</p>

											</div>
											<div class="background"></div>
										</div>
									</figure>
								</a>
							</div>
							{# {% endfor %} #}
						</div>
					</div>
				</div>

			</div>
		</section> -->
    {# {% endfor %} #}
    <section class="work">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="main-heading">Work</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="work-grid">
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-long.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-short.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-short.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-short.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-short.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-short.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-short.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-short.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
                <div class="column">
                <a href="casestudy.html" class="work-link" >
                    <div class="work-container work-container-bg" style="background-image: url({{img}}/case-study/image-short.jpg);">
                    </div>
                    <div class="work-details">
                            <p>Reinventing Flipkart User Experience</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}